@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category
@Html.ActionLink(" All Categories", "Index", null, null, new { @class="btn btn-info fa fa-user" })
<h2>Edit</h2>

<h4>Edit @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CategoryId)
    <table>
      <tr>
        <td>@Html.LabelFor(model => model.Name)</td>
        <td>@Html.EditorFor(model => model.Name)</td>
      </tr>
      <tr>
        <td>@Html.Label("Select Recipe")</td>
        <td>@Html.DropDownList("RecipeId")</td>
      </tr>
    </table>
    <button type="submit" class="btn btn-info fa"><i class=" fa-edit"> Save</i></button>
}
