@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag
@Html.ActionLink(" All Tags", "Index", null, new { @class="btn btn-info fa fa-medkit" })
<h2>Edit</h2>

<h4>Edit @Html.DisplayFor(model => model.TagName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)
  <table>
    <tr>
      <td>@Html.LabelFor(model => model.TagName)</td>
      <td>@Html.EditorFor(model => model.TagName)</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-info fa "><i class="fa-edit"> Save</i></button>
}

